@model IEnumerable<WebApplication3.DTOs.EngineListDto>
@{
    ViewData["Title"] = "Engines";
}

<h2>Engines</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Engine</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>HorsePower</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Type</td>
                    <td>@item.HorsePower</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No engines found. <a asp-action="Create">Add an engine</a></p>
}
